* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #22272A;
  --secondary-color: #fcfcfc;
  --button-primary: #c9c9c9;
  --button-secondary: #ccc8c8;

  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
